frontend/node_modules
frontend/package-lock.json
frontend/.gitignore
backend/mediconnect-env

.env
frontend/build
backend/__pycache__

# Also include backend/uploads directory in here. I haven't added so that all of us can try.
